.gtco-testimonials h2 {
  text-align: center;
  color: #00479e !important;
  padding: 10px 5px;
  text-wrap: balance;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h3 {
  color: #07326d;
  line-height: 1.3;
}
.gtco-testimonials .card h3 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card p {
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

.owl-carousel.owl-drag .owl-item,
.gtco-testimonials .owl-dots .active {
  background: none !important;
}

.rate-icon i {
  background-color: #73cf11;
  color: #fff;
  padding: 3px;
  margin: 0px 2px;
}

.rate-icon .grey {
  background-color: #cecece;
  color: #fff;
  padding: 3px;
  margin: 0px 2px;
}

.rate-icon .sj {
  background-color: #ee6922;
  color: #fff;
  padding: 3px;
  margin: 0px 2px;
}

.card-text {
  text-align: left !important;
  font-size: 16px;
  line-height: 1.5em;
  word-wrap: break-word;
  height: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.card-body .flag-logo {
  width: 32px !important;
  height: 32px;
  display: inline-block;
}

.card-body .rev-logo {
  width: 100%;
  max-width: 50%;
  display: inline-block !important;
}

.footer-details {
  display: flex;
  place-content: center;
  align-items: center !important;
  padding: 10px 0px 0px 0px !important;
}

.full-link {
  margin: 20px 0px 0px 0px;
  padding: 0px !important;
  text-align: center !important;
  font-size: 14px;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  display: inline-block;
  background: #ebebeb !important;
  margin: 0 5px;
}

.owl-dots button.owl-dot.active {
  background-color: #869791 !important;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
  outline: none;
}

@media (max-width: 1032px) {
  .embla {
    margin-top: 15.4rem;
  }
}
@media (max-width: 1024px) {
  .embla {
    margin-top: 10rem;
  }
}
.embla .embla__container {
  height: 8rem;
}

footer {
  background-image: none !important;
  background-color: unset !important;
}

svg.bi-check-circle {
  inset: 5% 2% 0 80%;
}

div#P_masterslider {
  display: block !important;
}/*# sourceMappingURL=index-style.css.map */