#scroll-driven-nav {
  top: -20rem;
  transition: all 0.3s ease-in-out;
  height: 12rem;
}

@media (max-width: 1024px) {
  #scroll-driven-nav {
    display: none;
  }
}

@media (max-width: 575.98px) {
  #scroll-driven-nav {
    display: none;
  }
}

#scroll-driven-nav > div {
  max-width: 160rem;
}

#scroll-driven-nav div#P_masterslider {
  position: relative !important;
  top: -6px !important;
}

@media (max-width: 1024px) {
  #scroll-driven-nav div#P_masterslider div.ms-staff-carousel .ms-nav-prev {
    left: -15px !important;
  }

  #scroll-driven-nav div#P_masterslider div.ms-staff-carousel .ms-nav-next {
    right: -15px !important;
  }
}

#scroll-driven-nav [data-id="btnCtaStateContainer"] a span {
  text-wrap: balance;
  text-align: center;
  font-size: 1.5rem;
}

#scroll-driven-nav button[data-target="#quickSearchFormModal"] span:nth-child(1) {
  text-wrap: balance;
}

#scroll-driven-nav button[data-target="#quickSearchFormModal"] span:nth-child(2) {
  padding-block: 2.1rem;
}
#masterslider {
  opacity: unset !important;
}
